.Colrc {
  text-align: center;
}

.Grid {
	padding: 10px;
}
.Colrc-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.Colrc-title {
  font-size: 1.5em;
}

.left {
  text-align: left;
}

.text-right {
	text-align: right;
}

.ReactTable .rt-resizer {
	right: 0;
}

.wordwrap {
	white-space: pre-line !important;
	word-wrap: break-word;
	padding: 2px;
}

.checkBoxMenu {
  background-color: #222;
  padding: 5px;
  color: white;
  text-align: right;
}

.wordwrap {
  white-space: pre-line !important;
  word-wrap: break-word;
  padding: 2px;
}

.checkBoxLabel {
	padding-left: 20px;
	padding-right: 5px;
}

.ui.input {
  padding: 5px;
}

.floatRight {
	float: right;
}

.alignRight {
	align: right;
}

.hidden {
  display: none;
}

.image-gallery-slide img {
  height: 90%;
}
/*.keyboardContainer {
  max-width: 250px;
  margin: 0 auto;
  margin-top: 20px;
  text-align: center;
}*/

.button {
  font-family: monospace;
  font-size: 10pt;
  color: black;
  background-color: buttonface;
  text-align: center;
  padding: 2px 6px 3px;
  border-width: 2px;
  border-style: outset;
  border-color: buttonface;
  cursor: pointer;
  max-width: 250px;
}

.ui.input {
  padding: 5px;
}
