name: Project CI

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  setup:
    name: setup
    runs-on: debian-latest
    outputs:
      sha_short: ${{ steps.sha.outputs.sha_short }}
    steps:
    - name: Checkout code
      uses: actions/checkout@v2
    - name: generate short commit hash
      id: sha
      run: echo "::set-output name=sha_short::$(git rev-parse --short HEAD)"

  colrc:
    name: "COLRC"
    runs-on: debian-latest
    needs: setup
    steps:
    # Checkout code
    - name: Checkout code
      uses: actions/checkout@v2
    # Setup docker
    - name: Set up QEMU
      uses: docker/setup-qemu-action@v1
    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v1
    - name: Login to DockerHub
      uses: docker/login-action@v1
      with:
        username: ${{ secrets.DOCKERHUB_USERNAME }}
        password: ${{ secrets.DOCKERHUB_TOKEN }}
    # Library (docker)
    - name: "Build docker image (auth)"
      working-directory: ./auth
      env:
        DOCKERFILE: "Dockerfile.dev"
        ORG: ${{ secrets.DOCKERHUB_USERNAME }}
        IMAGE_NAME: "auth"
      run: |
        docker build -f ${DOCKERFILE} -t "${ORG}/${IMAGE_NAME}:latest" -t "${ORG}/${IMAGE_NAME}:${{ needs.setup.outputs.sha_short }}" .
#       docker buildx build --output=type=docker --platform linux/amd64 -f ${DOCKERFILE} -t "${ORG}/${IMAGE_NAME}:latest" -t "${ORG}/${IMAGE_NAME}:${TAG}" -t "${ORG}/${IMAGE_NAME}:${{ needs.setup.outputs.sha_short }}" -t "${ORG}/${IMAGE_NAME}:amd64" .
    # publish
    - name: "Publish docker image (auth image)"
      env:
        ORG: ${{ secrets.DOCKERHUB_USERNAME }}
        IMAGE_NAME: "auth"
      if: github.ref == 'refs/heads/main'
      run: docker push --all-tags "${ORG}/${IMAGE_NAME}"